---
---

@charset "utf-8"

@import "bourbon/bourbon"
@import "base/grid-settings"
@import "neat/neat"
@import "base/base"

header, main, footer
  @include outer-container

header
  img, aside
    @include span-columns(4)

  aside
    &:first-child
      text-align: right

    dt
      font-size: 2em

    .name
      white-space: nowrap

main article
  @include span-columns(6)
  @include shift(3)

footer
  $footer-background: desaturate(darken($base-accent-color, 20), 30)
  $footer-color: white
  $footer-link-color: transparentize($footer-color, 0.6)
  $footer-disclaimer-color: transparentize($footer-color, 0.6)
  background: $footer-background
  padding: $base-line-height
  width: 100%
  .footer-logo
    margin-right: 1em
    margin-bottom: 1em
    +media($large-screen)
      float: left
      margin-bottom: 0
  .footer-logo img
    height: 1.6em
  ul
    margin-bottom: 1em
    +media($large-screen)
      float: left
      margin-left: 1em
      margin-bottom: 0
  ul li
    padding-right: 1em
    font-weight: 800
    +media($large-screen)
      display: inline
      text-align: left
  ul li a
    color: $footer-link-color
    &:hover
      color: transparentize($footer-color, 0)
  .footer-secondary-links
    +media($large-screen)
      float: right

    li
      font-size: .8em
      font-weight: 400
    ul.footer-social
      margin-top: 1em
      +media($large-screen)
        float: right
        margin-top: 0

      li
        float: left
        font-size: 1em
        padding-right: .7em
        &:last-child
          padding-right: 0
      img
        opacity: .7
        height: 1.6em
        padding: 1px
        &:hover
          opacity: 1
