---
---

@charset "utf-8"

@import "bourbon/bourbon"
@import "base/grid-settings"
@import "neat/neat"
@import "base/base"
@import "sky-labels"
@import url(http://fonts.googleapis.com/css?family=Open+Sans)
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker)

body
  @include outer-container
  padding: 1em

header
  @include row
  text-align: center

  img
    max-height: em(400)

  time
    color: $base-accent-color

footer
  width: 100%
  .footer-logo
    margin-right: 1em
    margin-bottom: 1em
  .footer-logo img
    height: 1.6em
  ul
    margin-bottom: 1em
  ul li
    padding-right: 1em
    font-weight: 800
  ul li a
    &:hover
      color: transparentize($base-accent-color, 0)
  .footer-secondary-links

    li
      font-size: .8em
      font-weight: 400
    ul.footer-social
      margin-top: 1em

      li
        float: left
        font-size: 1em
        padding-right: .7em
        &:last-child
          padding-right: 0
      img
        opacity: .7
        height: 1.6em
        padding: 1px
        &:hover
          opacity: 1
