@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);
@import url(http://fonts.googleapis.com/css?family=Sanchez);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #b11a29;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #6e101a;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #1a1a1a;
  color: #3e3b39;
  font-family: "Sanchez", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Reenie Beanie", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }
  h1 .amount, h2 .amount, h3 .amount, h4 .amount, h5 .amount, h6 .amount {
    color: #b11a29; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.75em; }

h3 {
  font-size: 2.5em; }

h4 {
  font-size: 2.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-family: "Sanchez", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: 700; }

p {
  margin: 0 0 0.75em;
  font-size: 1.3em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #b11a29;
  text-decoration: none; }
  a:hover {
    color: #6e101a; }
  a:active, a:focus {
    color: #6e101a;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #66615e;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #807a76;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

form {
  margin: 2em auto; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Sanchez", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1em; }

label {
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.1875em;
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 1.8em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select:hover {
    background: rgba(255, 255, 255, 0.15);
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select:focus {
    background: rgba(255, 255, 255, 0.2);
    border-color: #c4c4c4;
    outline: none; }
  textarea::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder,
  select::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3); }
  textarea::-moz-placeholder,
  input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="color"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="week"]::-moz-placeholder,
  select::-moz-placeholder {
    color: rgba(255, 255, 255, 0.3); }
  textarea:-moz-placeholder,
  input[type="email"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="color"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="week"]:-moz-placeholder,
  select:-moz-placeholder {
    color: rgba(255, 255, 255, 0.3); }
  textarea:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="color"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder,
  select:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.3); }

textarea {
  display: block;
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

input[type="submit"] {
  display: block; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  text-align: left;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
ul.bulleted {
  list-style-type: disc;
  margin-left: 20px; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.sky-label {
  margin-top: 15px;
  position: relative; }
  .sky-label label {
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s;
    color: #dddddd;
    left: 4px;
    padding: 4px 6px;
    position: absolute;
    top: 4px; }

.sky-label-focused label,
.sky-label-has-text label {
  background-color: #474747;
  border-radius: 3px 3px 0 0;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 500;
  left: 0px;
  opacity: 1;
  top: -22px; }

.sky-label-has-text label {
  opacity: 0; }

.sky-label-focused.sky-label-has-text label {
  opacity: 1; }

@-webkit-keyframes crazyeyes {
  0% {
    -webkit-transform: scale(1); }

  50% {
    -webkit-transform: scale(1.05); }

  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes crazyeyes {
  0% {
    -moz-transform: scale(1); }

  50% {
    -moz-transform: scale(1.05); }

  100% {
    -moz-transform: scale(1); } }
@keyframes crazyeyes {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
body {
  margin: 0; }

section {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #4d4d4d;
  padding: 2em 0; }
  section:after {
    content: "";
    display: table;
    clear: both; }
  section.sponsors {
    border-bottom: none; }

.center {
  text-align: center; }

.align-center {
  margin: 0 auto; }

.white {
  color: #707070; }

a.button {
  background: #4d4d4d;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-weight: 700;
  margin: 1em;
  padding: 0.6em 1em; }
  a.button:hover {
    -webkit-transition: all, 0.15s linear;
    -moz-transition: all, 0.15s linear;
    transition: all, 0.15s linear;
    background: #333333; }

header {
  display: block;
  background-image: url("../images/skulls.png");
  margin-bottom: 4em;
  padding: 4em 0;
  text-align: center;
  width: 100%; }
  header:after {
    content: "";
    display: table;
    clear: both; }
  header svg {
    max-height: 23.75em; }
  header time {
    color: #b11a29; }

footer h4 {
  margin-bottom: 0.5em; }
footer ul {
  margin-bottom: 1em; }
  footer ul li {
    padding-right: 1em;
    font-weight: 800;
    display: inline-block; }
    footer ul li a:hover {
      color: #b11a29; }
footer .footer-secondary-links li {
  font-size: 1em;
  font-weight: 500; }
footer section {
  border-bottom: none; }

.eye-left {
  -webkit-animation: crazyeyes 1s ease infinite;
  -moz-animation: crazyeyes 1s ease infinite;
  animation: crazyeyes 1s ease infinite; }

.eye-right {
  -webkit-animation: crazyeyes 1s ease infinite;
  -moz-animation: crazyeyes 1s ease infinite;
  animation: crazyeyes 1s ease infinite;
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  animation-delay: 0.15s; }

#got-your-email-now-we-will-sell-it .confirmation {
  display: none;
  color: #b11a29; }
#got-your-email-now-we-will-sell-it:target .confirmation {
  display: inherit; }

figure.keynote-speaker {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  figure.keynote-speaker:last-child {
    margin-right: 0; }
  figure.keynote-speaker img {
    height: 160px; }

.ticketbud-widget h3 {
  display: none; }
.ticketbud-widget a img {
  position: relative;
  top: 4px; }
.ticketbud-widget select {
  margin-bottom: 0.5em; }
.ticketbud-widget .description {
  display: none; }
.ticketbud-widget br {
  display: none; }
.ticketbud-widget input[type="submit"] {
  margin-left: auto;
  margin-right: auto; }
