@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #b11a29;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #6e101a;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #3e3b39;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Permanent Marker", "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #b11a29;
  text-decoration: none; }
  a:hover {
    color: #6e101a; }
  a:active, a:focus {
    color: #6e101a;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #66615e;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #807a76;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #b11a29;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(155, 23, 36, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.sky-label {
  margin-top: 15px;
  position: relative; }
  .sky-label label {
    color: #3e3b39;
    left: 4px;
    padding: 4px 6px;
    position: absolute;
    top: 4px;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s; }

.sky-label-focused label,
.sky-label-has-text label {
  background-color: #b11a29;
  color: white;
  left: 0px;
  opacity: 1;
  top: -35px; }

.sky-label-has-text label {
  opacity: 0; }

.sky-label-focused.sky-label-has-text label {
  opacity: 1; }

body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em; }
  body:after {
    content: "";
    display: table;
    clear: both; }

header {
  display: block; }
  header:after {
    content: "";
    display: table;
    clear: both; }
  header img {
    max-height: 18.75em; }
  header time {
    color: #b11a29; }
  header aside:first-child {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    header aside:first-child:last-child {
      margin-right: 0; }
  header aside:last-child {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    display: table;
    height: 100%; }
    header aside:last-child:last-child {
      margin-right: 0; }
    header aside:last-child h1, header aside:last-child h2, header aside:last-child h3 {
      display: table-row;
      vertical-align: middle; }

footer {
  background: #491c21;
  padding: 1.5em;
  width: 100%; }
  footer .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em; }
  footer .footer-logo img {
    height: 1.6em; }
  footer ul {
    margin-bottom: 1em; }
  footer ul li {
    padding-right: 1em;
    font-weight: 800; }
  footer ul li a {
    color: rgba(255, 255, 255, 0.4); }
    footer ul li a:hover {
      color: white; }
  footer .footer-secondary-links li {
    font-size: 0.8em;
    font-weight: 400; }
  footer .footer-secondary-links ul.footer-social {
    margin-top: 1em; }
    footer .footer-secondary-links ul.footer-social li {
      float: left;
      font-size: 1em;
      padding-right: 0.7em; }
      footer .footer-secondary-links ul.footer-social li:last-child {
        padding-right: 0; }
    footer .footer-secondary-links ul.footer-social img {
      opacity: 0.7;
      height: 1.6em;
      padding: 1px; }
      footer .footer-secondary-links ul.footer-social img:hover {
        opacity: 1; }
