---
layout: default
title: Keep Ruby Weird Schedule
---

<h2>Day 1 - Friday</h2>
<table class="table white schedule">
  <tbody>
    {% for entry in site.data.schedule %}
    <tr>
      <td class="datetime"><time datetime='2014-10-24T{{ entry.time }}:00-05:00'>{{ entry.time }}</time></td>
      <td>
        {% if entry.talk-slug %}
        <a href="/speakers#{{ entry.talk-slug }}">{{ entry.title }}</a>
        {% elsif entry.sketchnote-slug %}
        <a href="/images/sketchnotes/{{ entry.sketchnote-slug }}.jpg">{{entry.title}}</a>
        {% else %}
        {{ entry.title }}
        {% endif %}
        <br/>
        <span class="caption">{{ entry.caption }}</span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Day 2 (Choose Your Adventure)  - Saturday</h2>
<p>On the second day we have two options. There will be a RailsBridge workshop. In addition, we assembled a choose your adventure of places to eat, drink, and explore.</p>
<ul>
  <li><a herf="/railsbridge/">RailsBridge</a></li>
  <li><a href="/the-day-after/">The Day After</a></li>
</ul>
