<footer>
  <section class="white">
    <h4>Organized by</h4>
    <ul>
      <li><a href="https://twitter.com/brittballard">Britt Ballard</a></li>
      <li><a href="https://twitter.com/hone02">Terence Lee</a></li>
      <li><a href="https://twitter.com/schneems">Richard Schneeman</a></li>
      <li><a href="https://twitter.com/thompson_caleb">Caleb Thompson</a></li>
    </ul>
    <ul class="footer-secondary-links">
      <li><a href="/cfp">Call for Proposals</a></li>
      <li><a href="mailto:organizers@keeprubyweird.com">Contact Us</a></li>
      <li><a href="/code-of-conduct.html">Code of Conduct</a></li>
    </ul>
  </section>
</footer>
<script type="text/javascript" src="/sky-labels.min.js"></script>
<script type="text/javascript">setupSkyLabels();</script>
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '53a1cda58bfdf75474002e3f');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-52147844-1', 'keeprubyweird.com');
  ga('send', 'pageview');
</script>
