<footer>
  <ul>
    <li><a href="https://twitter.com/brittballard">Britt Ballard</a></li>
    <li><a href="https://twitter.com/hone02">Terrence Lee</a></li>
    <li><a href="https://twitter.com/schneems">Richard Schneeman</a></li>
    <li><a href="https://twitter.com/thompson_caleb">Caleb Thompson</a></li>
  </ul>
  <ul class="footer-secondary-links">
    <li><a href="mailto:organizers@keeprubyweird.com">Contact Us</a></li>
    <li><a href="/code-of-conduct.html">Code of Contact</a></li>
  </ul>
</footer>
