<footer>
  <section class="white">
    <h4>Organized by</h4>
    <ul>
      <li><a href="https://twitter.com/calebthompson">Caleb Thompson</a></li>
      <li><a href="https://twitter.com/brittballard">Britt Ballard</a></li>
      <li><a href="https://twitter.com/schneems">Richard Schneeman</a></li>
      <li><a href="https://twitter.com/hone02">Terence Lee</a></li>
    </ul>
    <ul class="footer-secondary-links">
      <li><a href="mailto:organizers@keeprubyweird.com">Contact Us</a></li>
      <li><a href="/code-of-conduct.html">Code of Conduct</a></li>
    </ul>
  </section>
</footer>
