<header>
  <aside>
    <dl>
      <dt>Who</dt>
      <dd>We're four developers: <span class="name">Britt Ballard</span>, <span class="name">Terrence Lee</span>, <span class="name">Richard Schneeman</span>,
      and <span class="name">Caleb Thompson</span>.</dd>
      <dt>What</dt>
      <dd>Austin's newest Ruby conference, focused on really showing off
      Austin's unique culture.</dd>
      <dt>When</dt>
      <dd>Friday, October 24th, 2014</dd>
    </dl>
  </aside>
  <img src="/keeprubyweird.com/images/logo.svg" alt="Keep Ruby Weird">
  <aside>
    <dl>
      <dt>Where</dt>
      <dd>Alamo Drafthouse Ritz in downtown <span class="name">Austin, Texas</span></dd>
      <dt>How</dt>
      <dd>We'll be selling tickets on Kickstarter, running our CFP, and inviting
      Keynote speakers.</dd>
      <dt>Why</dt>
      <dd>To give Austin back its annual conference.</dd>
    </dl>
  </aside>
</header>
