form {
  margin: 2em auto;
}

fieldset {
  background: lighten($base-border-color, 10);
  border: 1px solid $base-border-color;
  margin: 0 0 ($base-line-height / 2) 0;
  padding: $base-line-height;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: rgba(#fff, .1);
  border: none;
  border-radius: $base-border-radius;
  color: #fff;
  font-size: $base-font-size * 1.2;
  margin-bottom: $base-line-height * 1.2;
  padding: ($base-line-height / 3) ($base-line-height / 3);
  width: 100%;

  &:hover {
    background: rgba(#fff, .15);
    border-color: $form-border-color-hover;
  }

  &:focus {
    background: rgba(#fff, .2);
    border-color: $form-border-color-focus;
    outline: none;
  }

  @include placeholder {
    color: rgba(#fff, .3);
  }
}

textarea {
  display: block;
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  margin-bottom: $base-line-height / 2;
  padding-bottom: ($base-line-height / 3);
  width: 100%;
}

input[type="submit"] {
  display: block;
}
