table {
  border-collapse: collapse;
  margin: ($base-line-height / 2) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  font-weight: bold;
  padding: ($base-line-height / 2) 0;
  text-align: left;
}

td {
  padding: ($base-line-height / 2) 0;
}

tr, td, th {
  vertical-align: middle;
}
